/* Color codes for the app */
/* Main Primary color */
/* Main Secondary color */
/* Main Tertiary color */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  width: 95vw;
  background-color: #E4EEDD;
  margin: auto;
  font-family: "Source Sans Pro";
  color: #000000;
}
body * {
  padding: 0;
  margin: 0;
}

.app {
  display: grid;
  grid-template-areas: "banner" "menu" "content";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-gap: 1em;
}

.site-menu {
  background-color: #CBE2BD;
  grid-area: menu;
  display: grid;
  grid-template-areas: "home search my-page loginbutton";
  grid-template-columns: auto auto auto 1fr;
  justify-content: start;
  padding: 0.3em;
}
.site-menu a {
  margin: 0.5em 1em;
}
.site-menu .home-button {
  grid-area: home;
}
.site-menu .search-button {
  grid-area: search;
}
.site-menu .my-page-button {
  grid-area: my-page;
}
.site-menu .login-button {
  justify-self: end;
  grid-area: loginbutton;
}

.content {
  grid-area: content;
  background-color: #F8FEF5;
  justify-self: stretch;
}

h1 {
  font-weight: bold;
  font-size: 3em;
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
}

a {
  color: #000000;
}
a:hover {
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  body {
    width: 85vw;
  }
}
button {
  border: solid;
  border-color: #C4D3CE;
  border-width: 1px;
  border-radius: 8px;
  background-color: #EAEEED;
  box-shadow: 3px 3px 3px #95B2A9;
  transition: 30ms;
  width: auto;
  padding: 0.5em 1.5em;
  margin: 2px;
  cursor: pointer;
}
button:hover {
  background-color: #C4D3CE;
  border-color: #95B2A9;
  box-shadow: 2px 2px 3px #6B9789;
  transition: 30ms;
}
button:active {
  box-shadow: 0 0;
  transition: 30ms;
}
button:focus {
  border-width: 2px;
  border-color: #555;
  outline: none;
  transition: 30ms;
}

#like-button {
  background-color: #EAEEED;
  padding: 0;
}
#like-button:hover {
  cursor: auto;
}
#like-button .heart-icon-container {
  padding: 1em 0.8em 0.8em 1em;
  border: solid #EAEEED;
  border-radius: 4px;
}
#like-button .heart-icon-container:hover {
  background-color: #C4D3CE;
  border-color: #C4D3CE;
  transition: 30ms;
  cursor: pointer;
}

input {
  border: solid;
  border-color: #CBE2BD;
  border-width: 2px;
  border-radius: 8px;
  background-color: #FDFFF6;
  transition: 30ms;
  width: auto;
  padding: 0.5em;
  margin: 1px;
}
input:hover {
  box-shadow: 1px 1px 3px #A2C78C;
  transition: 30ms;
}
input:active {
  transition: 15ms;
}
input:focus {
  border-color: #555;
  outline: none;
  transition: 30ms;
}
input:disabled {
  background-color: #dddddd;
}

.radio-div {
  display: flex;
  align-items: center;
}
.radio-div > label {
  margin: 0 0.5em;
}

.login-page {
  display: grid;
  justify-content: center;
  padding: 3em;
  padding-bottom: 5em;
}
.login-page .login-section {
  border-radius: 8px;
  background-color: #F6F9E8;
  padding: 2em;
  display: grid;
  grid-template-areas: "title" "form";
  justify-content: center;
  grid-gap: 2em;
}
.login-page .login-section .login-page-title {
  grid-area: title;
  justify-self: center;
}
.login-page .login-section .login-page-form {
  grid-area: form;
  display: grid;
  grid-gap: 1.4em;
  grid-template-areas: "username" "password" "loginbutton";
}

.form-group {
  display: grid;
  grid-template-areas: "label" "input";
}

.search-page {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: "search-bar" "result" "navigation";
  margin: 2em;
  /* Styling advanced search */
}
.search-page .search-bar {
  grid-area: search-bar;
}
.search-page .search-result {
  grid-area: result;
}
.search-page .search-navigation {
  grid-area: navigation;
  justify-self: center;
}
.search-page .search-navigation * {
  margin: 0.5em;
}
.search-page .advanced-search {
  border: #EDF5CD solid;
  border-radius: 4px;
  padding: 2px;
}
.search-page .advanced-search * {
  background-color: #FCFDF9;
}
.search-page #advanced-search-content .fields {
  margin: 0;
  padding: 10px;
}
.search-page #advanced-search-content .field {
  padding: 0;
}
.search-page #advanced-search-content .form-label-bold {
  font-weight: bold;
}
.search-page .result-loader {
  margin: 20vh 0;
}
.search-page .no-result {
  margin-bottom: 30vh;
}
.search-page .nothing-searched {
  margin-bottom: 40vh;
}

.my-page {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: "title" "saved-searches";
  margin: 2em;
}
.my-page .my-page-title {
  justify-self: center;
}
.banner {
  background-color: #A2C78C;
  grid-area: banner;
  display: grid;
  grid-template-areas: "logo banner-login";
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
}

.logo {
  grid-area: logo;
  font-family: "Merienda";
  font-size: 2em;
  padding: 0.2em;
}
.logo:hover {
  cursor: pointer;
}

.banner-login {
  grid-area: banner-login;
  align-self: end;
  justify-self: end;
  padding: 0.2em 0.5em;
  color: #808080;
}
.banner-login .login-info {
  display: none;
}
.banner-login .login-info-username {
  font-style: italic;
}

@media only screen and (min-width: 375px) {
  .banner-login {
    display: grid;
    grid-template-areas: "login-info username";
    grid-gap: 0.3em;
  }
  .banner-login .login-info {
    grid-area: login-info;
    display: block;
  }
  .banner-login .login-info-username {
    grid-area: username;
  }
}
@media only screen and (min-width: 600px) and (min-height: 500px) {
  .logo {
    font-size: 4em;
  }
}
.start-page {
  align-self: center;
  display: grid;
  align-items: center;
  font-size: 1.7em;
  margin: 0.8em 0.2em;
}
.start-page p {
  justify-self: center;
  padding: 0.5vh 2vh 2vh 2vh;
}
.start-page .welcome {
  justify-self: center;
  padding: 2vh;
}
.start-page .how-to-use {
  padding: 2vh 2vh 0.5vh 2vh;
}

@media only screen and (min-width: 600px) and (min-height: 500px) {
  .start-page {
    font-size: 1.2em;
    margin: 1em 7em;
  }
}

/*# sourceMappingURL=App.css.map */
