// Styling of banner

.banner {
  background-color: $color-primary-4;
  grid-area: banner;

  display: grid;
  grid-template-areas: "logo banner-login";
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
}

// Logo
.logo {
  grid-area: logo;
  font-family: $logo-font;
  font-size: 4em;
  padding: 0.2em;

}

// Login-info + button
.banner-login {
  grid-area: banner-login;
  align-self: end;
  justify-self: end;
  padding: 0.2em 0.5em;

  display: grid;
  grid-template-areas: "login-info username";
  grid-gap: 0.3em; // ca width of 'space'

  .login-info {
    grid-area: login-info;
  }

  .login-info-username {
    grid-area: username;
  }
  color: $color-text-gray;
}

