// Styling of banner

.banner {
  background-color: $color-primary-4;
  grid-area: banner;

  display: grid;
  grid-template-areas: "logo banner-login";
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
}

// Logo
.logo {
  grid-area: logo;
  font-family: $logo-font;
  font-size: 2em;
  padding: 0.2em;

  &:hover{
    cursor: pointer;
  }
}

// Login-info + button
.banner-login {
  grid-area: banner-login;
  align-self: end;
  justify-self: end;
  padding: 0.2em 0.5em;


  // Hiding login-info by default
  .login-info {
    display: none;
  }

  .login-info-username {
    font-style: italic;
  }

  color: $color-text-gray;
}


// Styling display and grid placement of login-info-elements for big screens
@media only screen and (min-width: 375px) {
  .banner-login {
    display: grid;
    grid-template-areas: "login-info username";
    grid-gap: 0.3em; // ca width of 'space'

    .login-info {
      grid-area: login-info;
      display: block;
    }

    .login-info-username {
      grid-area: username;
    }
  }
}

// Styling logo size for big screens
// Checking both width and height -> prevent big logo on small devices with rotated screen.
@media only screen and (min-width: 600px) and (min-height: 500px) {
  .logo {
    font-size: 4em;
  }
}

