/* Styling buttons */
button {
  background-color: $color-secondary-2;
  border: 2px solid $color-secondary-0;
  border-radius: 8px;
  box-shadow: 3px 3px 3px $color-secondary-3;
  cursor: pointer;
  margin: 2px;
  padding: 0.5em 1.5em;
  transition: 30ms;
  width: auto;

  &:hover {
    background-color: $color-secondary-0;
    border-color: $color-secondary-3;
    box-shadow: 2px 2px 3px $color-secondary-4;
    transition: 30ms;
  }

  &:active {
    box-shadow: 0 0;
    transition: 30ms;
  }

  &:focus {
    border-color: #555;
    border-width: 2px;
    outline: none;
    transition: 30ms;
  }
}

/* Styling the like-buttons */
#like-button {
  color: rgba(0, 0, 0, 0.6);
  padding: 0.5em 0.35em 0.5em 0.6em;
}
