// Styling buttons
button {
  border: solid;
  border-color: $color-secondary-0;
  border-width: 1px;
  border-radius: 8px;
  background-color: $color-secondary-2;
  box-shadow: 3px 3px 3px $color-secondary-3;
  transition: 30ms;

  width: auto;
  padding: 0.5em 1.5em;
  margin: 2px;

  cursor: pointer;


  &:hover {
    background-color: $color-secondary-0;
    border-color: $color-secondary-3;
    box-shadow: 2px 2px 3px $color-secondary-4;
    transition: 30ms;
  }

  &:active {
    box-shadow: 0 0;
    transition: 30ms;
  }

  &:focus {
    border-width: 2px;
    border-color: #555;
    outline: none;
    transition: 30ms;
  }
}

// Styling like-button
#like-button {
  background-color: $color-secondary-2;
  padding: 0;

  &:hover {
    cursor: auto;
  }

  .heart-icon-container {
    padding: 1em 0.8em 0.8em 1em;
    border: solid $color-secondary-2;
    border-radius: 4px;

    &:hover {
      background-color: $color-secondary-0;
      border-color: $color-secondary-0;
      transition: 30ms;
      cursor: pointer;
    }
  }
}