/* Color codes for the app */
// Palette URL: http://paletton.com/#uid=52E0u0k7DL015ZH3VU1c0-0g+sf

// Primary color, green
$color-primary-0: #CBEFB6;    /* Main Primary color */
$color-primary-1: #F8FEF5;
$color-primary-2: #E5F8DA;
$color-primary-3: #ADE38E;
$color-primary-4: #83C55C;

// Secondary color, cyan
$color-secondary-0: #A2D4C4;  /* Main Secondary color */
$color-secondary-1: #F3FCF9;
$color-secondary-2: #D0ECE3;
$color-secondary-3: #71B49E;
$color-secondary-4: #46967C;

// Tertiary color, yellow
$color-tertiary-0: #EDFABE;	/* Main Tertiary color */
$color-tertiary-1: #FDFFF6;
$color-tertiary-2: #F6FDDE;
$color-tertiary-3: #E2F599;
$color-tertiary-4: #BFD765;