/* Color codes for the app */
// OLD Palette URL: http://paletton.com/#uid=52E0u0k7DL015ZH3VU1c0-0g+sf
// NEW Palette URL: http://paletton.com/#uid=52E0u0k2iKm00++0wUH5dzc9ssy

// Primary color, green
$color-primary-0: #e4eedd; /* Main Primary color */
$color-primary-1: #ffffff;
$color-primary-2: #f6f9f5;
$color-primary-3: #cbe2bd;
$color-primary-4: #a2c78c;

// Secondary color, cyan
$color-secondary-0: #c4d3ce; /* Main Secondary color */
$color-secondary-1: #ffffff;
$color-secondary-2: #eaeeed;
$color-secondary-3: #95b2a9;
$color-secondary-4: #6b9789;

// Tertiary color, yellow
$color-tertiary-0: #f6f9e8; /* Main Tertiary color */
$color-tertiary-1: #ffffff;
$color-tertiary-2: #fcfdf9;
$color-tertiary-3: #edf5cd;
$color-tertiary-4: #ccda99;

// Text colors
$color-text-black: #000000;
$color-text-gray: #808080;
$color-text-white: #ffffff;

// Inputs
$color-field-disabled: #dddddd;
