/* Stylng login-page */

.login-page {
  display: grid;
  justify-content: center;
  padding: 3em;
  padding-bottom: 5em;

  .login-section {
    background-color: $color-tertiary-0;
    border-radius: 8px;
    display: grid;
    grid-gap: 2em;
    grid-template-areas: 'title' 'form';
    justify-content: center;
    padding: 2em;

    .login-page-title {
      grid-area: title;
      justify-self: center;
    }

    .login-page-form {
      display: grid;
      grid-area: form;
      grid-gap: 1.4em;
      grid-template-areas: 'username' 'password' 'loginbutton';
    }
  }
}

.form-group {
  display: grid;
  grid-template-areas: 'label' 'input';
}
