/*.ui.accordion content.active {
  display: table-row-group;
  background-color: blue;
}

.ui.accordion .title.active {
  background-color: red;
  //display: table-row-group;
}

.active.content {
  background-color: green;
}*/