/* Styling search-page */

.search-page {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: 'search-bar' 'result' 'navigation';
  margin: 2em;

  .search-bar {
    grid-area: search-bar;
  }

  .search-result {
    grid-area: result;
  }

  .search-navigation {
    grid-area: navigation;
    justify-self: center;
  }

  /* Styling advanced search */
  .advanced-search {
    border: $color-tertiary-3 solid;
    border-radius: 4px;
    padding: 2px;

    * {
      background-color: $color-tertiary-2;
    }
  }

  // Styling result loader
  .result-loader {
    margin: 20vh 0;
  }

  // styling no-result-text
  .no-result {
    margin-bottom: 30vh;
  }

  // styling nothing-searched-div
  .nothing-searched {
    margin-bottom: 40vh;
  }
}

// ID to override semantic-ui-css styling
// (rule of specificity (elements < class < id < inline)
#advanced-search-content {
  .fields {
    margin: 0;
    padding: 10px;
  }

  .field {
    padding: 0;
  }

  .form-label-bold {
    font-weight: bold;
  }
}

// Prevent semantic ui from trying to display
// a table row as a block
#search-result-table {
  tr.content.active.accordion-content {
    display: table-row;
  }
}
