@import 'colors';

@import 'fonts';

/* Global styling of body */
a {
  color: $color-text-black;

  &:hover {
    color: $color-text-black;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    //text-shadow: 5px 3px 10px #333; // TODO update shadow color to complement background
  }
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
}

/* Styling page body */
body {
  background-color: $color-primary-0;
  color: $color-text-black;
  font-family: $standard-font;
  margin: auto;
  width: 95vw; // only on small screens

  // Setting padding/margins for all children of body to 0.
  * {
    margin: 0;
    padding: 0;
  }
}

// Styling app
.app {
  // CSS-grid app:
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    'banner'
    'menu'
    'content';
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

// Styling the menu/nav-bar
.site-menu {
  background-color: $color-primary-3;
  display: grid;
  grid-area: menu;
  grid-template-areas: 'home search my-page loginbutton';
  grid-template-columns: auto auto auto 1fr;
  justify-content: start; // places the inner grid
  padding: 0.3em;

  // Styling menu children (links)
  a,
  p {
    margin: 0.5em 1em;
  }

  p {
    font-weight: bold;
  }

  //Sets grids for buttons in menu
  .home-button {
    grid-area: home;
  }

  .search-button {
    grid-area: search;
  }

  .my-page-button {
    grid-area: my-page;
  }

  // styling menu child login-button
  .login-button {
    grid-area: loginbutton;
    justify-self: end;
  }
}

.content {
  background-color: $color-primary-1;
  grid-area: content;
  justify-self: stretch;
  // Styling the start page
}

@media only screen and (min-width: 600px) {
  body {
    width: 85vw;
  }
}

@import 'button';
@import 'input';
@import 'login-page';
@import 'search-page';
@import 'my-page';
@import 'banner';
@import 'start-page';
